Flask==2.3.3
Werkzeug==2.3.7
tensorflow==2.13.0
keras==2.13.1
numpy==1.24.3
Pillow==10.0.0
scikit-learn==1.3.0
scipy==1.11.2
bcrypt==4.0.1
gTTS==2.3.2
deep-translator==1.11.4
h5py==3.9.0
protobuf==4.23.4
gunicorn==21.2.0
