Flask==2.3.3
Werkzeug==2.3.7
tensorflow==2.16.1
tf-keras==2.16.0
numpy==1.26.4
Pillow==10.0.0
scikit-learn==1.5.2
scipy==1.11.4
bcrypt==4.0.1
gTTS==2.3.2
deep-translator==1.11.4
h5py==3.16.0
protobuf==4.25.9
gunicorn==21.2.0
